:root {
  --max-width: 1100px;
}
body {
  max-width: 100vw;
  overflow-x: hidden;
}


.header {
  width: 100%;
  background-color: black;
  margin: 0px;
  display: flex;
  justify-content: center;

 

}
.header svg {
  width: 130px;
  height: 100px;
}

.footer {
  width: 100%;
  background-color: rgb(52, 51, 51);
  bottom: 0px;
  display: flex; 
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: small;
}

.footer svg {
  width: 80px;
  height: 50px;
}
